html, body {
    padding: 0px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: 100%;
}


.item1 {grid-area: box1;}
.item2 {grid-area: box2;}
.item3 {grid-area: box3;}
.item4 {grid-area: box4;}

.grid-container {
    display: grid;
    grid-template-areas: 
    'box1 box2'
    'box1 box3'
    'box4 box4';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    max-width: 1000px;
    gap: 15px;
    margin: 0 auto;
    padding: 20px;
}

body {
    position: relative;
    margin: 0;
}

h2 {
    font-family: Georgia;
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("world.jpg");
    background-repeat: repeat;
    background-position: center;
    opacity: 60%;
    z-index: -1;
}

.grid-container > div {
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
    padding-top: 5px;
}

.item1 {
    background-color: rgb(134, 186, 216);
    padding: 20px;
}


.item2 {
    background-color: rgb(212, 123, 123);
    padding: 20px;
    line-height: 10px;
}

.item3 {
    background-color: yellowgreen;
    padding: 10px;
    line-height: 20px;
}

.item4 {
    background-color: rgb(207, 137, 87);
    padding: 20px;
}